html, body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-rows: 130px auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: "header header header"
                         ". main ."
                         ". footer .";
}

header{
    display: flex;
    flex-direction: column;
    height: 123px;
    grid-area: header;
    align-items: center;    
    box-sizing: border-box;
    box-shadow: 1px 2px 5px rgba(0,0,0,.1);
}

.cabecalho{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha-cab{
    height: 42px;
    width: 1248px;
    display: flex;
}

#linha-cab-item1{
    height: 42px;
    width: 312px;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

#linha-cab-item2{
    height: 42px;
    width: 624px;
}

form{    
    display: flex;
    justify-content: center;
}

#input-busca{
    width: 596px;
    height: 38px;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 48px;
    background-color: #fafcfd;
    border: 1px solid #e2eaf0;
    border-radius: 4px;
}

#img-lupa{
    height: 19px;
    width: 19px;
    float: left;
    position: relative;
    left: 35px;
    top: 12px;
}

#linha-cab-item3{
    height: 42px;
    width: 312px;
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
}

#black{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #575757;
}

#frase-black{
    font-size: 10px;
    color: #8995a0;
}

.barra-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f1f5f8;
    height: 49px;
    width: 1248px;
    padding: 0;
}

a{
    text-decoration: none;    
    color: #3e4851;
    font-size: 16px;
}

.menu{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.itens{
    padding: 12px 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.01em;
    line-height: 16px;
}

.itens a :hover{
    color: #355dd4;
}

#img-wifi{
    height: 19px;
    width: 19px;
}

main{
    height: 250px;
    width: 1248px;
    grid-area: main;
}

footer{
    height: 250px;
    width: 1248px;
    grid-area: footer;
}
